html {
    scrollbar-width:none;
    min-width: 100%;
}

*{
    padding: 0px;
}

.padding-right238 {
    padding-right: 238px;
}

.travoPurple{
    color: #783f7b;
}

.comfortDarkBlue{
    color: #001f82;
}

.comfortLightBlue{
    color: #008ee8;
}

.bgComfortLightBlue{
    background-color: #008ee8;;
}

.infoBlue{
    color: #1818ff;
}

.margin-top329{
    margin-top: 329px;
}

.container-fluid {
    width: 100%; /* Use percentage */
    max-width: 100%; /* Prevent exceeding viewport */
    /* padding-left: 10%; */
}

/* .backGroundKruise{
    background-color: #ffd426;
} */

/* Circle styles */
.btn-circle {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    background-color: black;
    color: white;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 150px; /* Aligns text vertically */
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.btn-circle span {
    position: relative;
    z-index: 1;
}

/* .arrow-right {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-top: 6px solid transparent;  
    border-bottom: 6px solid transparent; 
    border-left: 12px solid white;  
    z-index: 1;
} */

/* Hover effect to follow mouse */
.btn-circle:hover {
    transform: translate(-50%, -50%);
}



/* Ensure full black background for the loader */
.loaders {
    position: fixed;          /* Fix to viewport */
    top: 0;                  /* Position at the top */
    left: 0;
    z-index: 99999;                 /* Align to the left */
    width: 100vw;            /* Full width */
    height: 100vh;           /* Full height */
    background-color: black; /* Black background */
    display: flex;           /* Center content */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    transform: translateY(-100%); /* Start off-screen */
    transition: transform 1s ease; /* Smooth transition */
}

.spinner {
    --circle-width: 20px;
    position: relative;
    width: 100px; /* Adjusted size */
    height: 100px; /* Adjusted size */
    background: rgba(0, 0, 0, 0.8);
}

.spinner:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: var(--circle-width);
    height: var(--circle-width);
    background: conic-gradient(transparent var(--firstpct), #fff var(--firstpct), #fff var(--secondpct), transparent var(--secondpct)), rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    z-index: 10;
    animation: spinning 2s infinite linear;
    border: 0px solid white;
}

/* Spinner animation */
@keyframes spinning {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
        --secondpct: 0%;
        --firstpct: 0%;
    }

    50% {
        --firstpct: 0%;
        --secondpct: 100%;
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
        --firstpct: 100%;
        --secondpct: 100%;
    }
}

/* Define custom properties for gradient animation */
@property --firstpct {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}

@property --secondpct {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 0%;
}


@font-face {
    font-family: "Raleway-Bold";
    src: url("fonts/Raleway-Bold.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vanguardCF-bold";
    src: url("fonts/Fontspring-DEMO-vanguardcf-bold.otf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "vanguardCF-demibold";
    src: url("fonts/Fontspring-DEMO-vanguardcf-demibold.otf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Medium";
    src: url("fonts/Raleway-Medium.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Raleway-Regular";
    src: url("fonts/Raleway-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Regular";
    src: url("fonts/Poppins-Regular.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins-Bold";
    src: url("fonts/Poppins-Bold.ttf") format("woff2");
    font-weight: normal;
    font-style: normal;
}

.fontWeight100 {
    font-weight: 100;
}

.fontSize16 {
    font-size: 16px;
}

.fontSize46 {
    font-size: 46px;
}

.fontSize19 {
    font-size: 19px;
}

.fontSize30 {
    font-size: 30px;
}

.fontSize22 {
    font-size: 22px;
}

.img-fluidManual{
    width: 100%;
    height: auto;
    max-width: 100%;
}


.fontSize12{
    font-size: 12px;
}

.paddingLeft34{
    padding-left: 34px;
}

.padding-left138{
    padding-left: 138px;
}

.fontSize50{
    font-size: 50px;
}

.fontSize18{
    font-size: 18px;
}

.fontSize25{
    font-size: 25px;
}

.fontPoppinsBold {
    font-family: Poppins-Bold;
}

.fontPoppinsRegular {
    font-family: Poppins-Regular;
}

.fontVanguardBold{
    font-family: vanguardCF-bold, serif;
}

.imageOuter{
    /* height: 667px; */
    width: 100%;
}

.text {
    /* position: absolute; */
    width: 628px;
    /* left: 20%; */
    /* margin-left: -225px; */
    height: 40px;
    /* top: 50%; */
    font-size: 88px;
    /* margin-top: -20px; */
}

.text p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
    float: left;
}

.word {
    font-family: vanguardCF-bold, serif;
    position: absolute;
    width: 515px;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;

    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.link {
    font-family: Poppins-Regular;
}

.fontRalewayBold {
    font-family: Raleway-Bold;
}

.fontRalewayRegular {
    font-family: Raleway-Regular;
}

.diff-font {
    font-family: Vanguard, Impact, sans-serif;
    letter-spacing: 0ch;
}

.animate-set {
    opacity: 0 !important;
    transform: translateY(20px) !important;
}

.animate-set.active {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

.textContainer {
    overflow: hidden;
}

.textContainer .text {
    position: relative;
    color: #212529;
    font-size: 50px;
    /* font-weight: bolder; */
    letter-spacing: -0.1ch;
    font-family: "Raleway-Bold", serif;
    line-height: 1;
}

.textContainer .text.first-text {
    color: #212529;
}

.text.second-text:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: white;
    border-left: 2px solid #212529;
    width: 100%;
    transform: translateX(0);
    animation: animate 2s steps(64) infinite;
}

@keyframes animate {

    40%,
    60% {
        left: 100%;
    }

    100% {
        left: 0%;
    }
}

.projectThumbnail {
    position: relative;
    overflow: hidden;
}

/* .projectThumbnail img { */
    /* width: 100%; */
    /* height: auto; */
    /* display: block; */
/* } */

.overlay-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay {
    background:#000000;
    color: white;
    font-size: 20px;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    text-align: left;
    opacity: 70%;
}

.projectThumbnail:hover .overlay-link {
    opacity: 1;
}

body {
    scrollbar-width: none;
    overflow-x: hidden;
}

.logo-name {
    font-size: 16px;
    padding-top: 15px;
    font-family: Poppins-Regular;
}

/* Back to Top Button Styles */
.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #000000;
    /* Background color for the button */
    color: white;
    /* Text color */
    border-radius: 50%;
    /* Circular shape */
    display: flex;
    /* Flexbox for centering */
    align-items: center;
    /* Center vertically */
    justify-content: center;
    /* Center horizontally */
    font-size: 24px;
    /* Font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    /* Smooth transitions */
    opacity: 0;
    /* Hidden by default */
    transform: translateY(100px);
    /* Move down initially */
    z-index: 1000;
    /* Ensure it appears above other content */
}

.back-to-top.show {
    opacity: 1;
    transform: translateY(0);
}

.back-to-top:hover {
    background-color: #343a40;
}

.imgfluid {
    width: 100%;
    height: 600px;
}

/* .dark-theme * {
    background-color: #212529 !important;
    color: white !important;
    transition: background-color 0s ease-in, color 0.5s ease-in-out;
/* } */

.navbar-toggler {
    padding: var(--bs-navbar-toggler-padding-y) var(--bs-navbar-toggler-padding-x);
    font-size: var(--bs-navbar-toggler-font-size);
    line-height: 1;
    background-color: none;
    border: none;
    border-radius: var(--bs-navbar-toggler-border-radius);
    transition: var(--bs-navbar-toggler-transition);
}

.dark-theme .navbar-toggler {
    background-color: none !important;
}

#sidebar {
    width: 300px;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100%;
    background-color: #343a40;
    transition: right 0.3s ease, background-color 0.5s ease-in-out;
    z-index: 9999;
}

#sidebar.active {
    right: 0;
}

#sidebar li,
#sidebar ul,
#sidebar a,
#closeSidebar {
    background-color: #212529 !important;
    transition: background-color 0.5s ease-in-out;
}

.lineHeight {
    line-height: 50px;
}

.fontSize24 {
    font-size: 24px;
}

.fontSize20 {
    font-size: 16px;
}

.displayName {
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 0;
    font-family: vanguardCF-bold, serif;
    font-size: 12rem;
    /* font-weight: 700; */
    line-height: 1;
}

.display-joke {
    font-family: Poppins-Regular;
    padding-left: 350px;
    font-size: 16px;
    margin-top: 350px;
}

.rowCustom {
    height: 100%;
}

.cursor {
    display: block;
    cursor: none;
    position: fixed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: black;
    transition: 0.1s ease;
    transform: translate(-50%, -50%);
    pointer-events: none;
    /* mix-blend-mode: difference; */
    opacity: 60%;
}

.projectHeadings {
    text-transform: none;
    font-family: Soehne, Arial, sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 130%;
}

/* Media Queries for Responsive Design */

@media (max-width: 768px) {
    body {
        scrollbar-width: 0px;
    }

    .displayName {
        letter-spacing: -15px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-family: vanguardCF-bold, serif;
        font-size: 12rem;
        /* font-weight: 700; */
        line-height: 1;
    }

    .display-joke {
        font-size: 1.1rem;
        padding-left: 0px;
        margin-top: 0px;
    }

    #sidebar {
        width: 75%;
        right: -100%;
    }



    .textContainer .text {
        position: relative;
        color: #212529;
        font-size: 25px;
        /* font-weight: bolder; */
        letter-spacing: -0.1ch;
        font-family: "Fontspring-DEMO-vanguardcf-demibold", sans-serif;
        font-weight: 700;
        line-height: 1;
    }

    .word {
        position: absolute;
        width: 322px;
        opacity: 0;
    }


    .text {
        /* position: absolute; */
        width: 348px;
        /* left: 20%; */
        /* margin-left: -225px; */
        height: 40px;
        /* top: 50%; */
        font-size: 57px;
        /* margin-top: -20px; */
    }

    .projectThumbnail img {
        width: 100%;
        height: auto;
        display: block;
    }

    .paddingLeft-100px {
        padding-left: 212px;
    }
    .cursor {
        display: none;
        cursor: none;
        position: fixed;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: black;
        transition: 0.1s ease;
        transform: translate(-50%, -50%);
        pointer-events: none;
        /* mix-blend-mode: difference; */
        opacity: 60%;
    }

    .imageOuter {
        /* height: 247px; */
        width: 100%;
    }

    .padding-left138 {
        padding-left: 50px;
    }
    .fontSize18 {
        font-size: 14px;
    }
    .fontSize25 {
        font-size: 21px;
    }
    .fontSize30 {
        font-size: 22px;
    }
    .fontSize22 {
        font-size: 17px;
    }
    .padding-right238 {
        padding-right: 0px;
    }
    
}

@media (max-width: 576px) {
    body {
        scrollbar-width: 0px;
    }

    .displayName {
        letter-spacing: 2px;
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
        font-family: vanguardCF-bold, serif;
        font-size: 7rem;
        /* font-weight: 700; */
        line-height: 1;
    }

    .rowCustom {
        height: 30%;
    }

    .display-joke {
        font-size: 1.1rem;
        padding-left: 0px;
        margin-top: 0px;
    }
    .textContainer .text {
        position: relative;
        color: #212529;
        font-size: 25px;
        /* font-weight: bolder; */
        letter-spacing: -0.1ch;
        font-family: "Fontspring-DEMO-vanguardcf-demibold", sans-serif;
        font-weight: 700;
        line-height: 1;
    }

    .word {
        position: absolute;
        width: 322px;
        opacity: 0;
    }

    .text {
        /* position: absolute; */
        width: 348px;
        /* left: 20%; */
        /* margin-left: -225px; */
        height: 40px;
        /* top: 50%; */
        font-size: 57px;
        /* margin-top: -20px; */
    }

    .projectThumbnail img {
        width: 100%;
        height: auto;
        display: block;
    }

    .paddingLeft-100px {
        padding-left: 77px;
    }

    .cursor {
        display: none;
        cursor: none;
        position: fixed;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: black;
        transition: 0.1s ease;
        transform: translate(-50%, -50%);
        pointer-events: none;
        /* mix-blend-mode: difference; */
        opacity: 60%;
    }

    .imageOuter {
        /* height: 247px; */
        width: 100%;
    }

    .padding-left138 {
        padding-left: 50px;
    }
    .fontSize18 {
        font-size: 14px;
    }

    .fontSize25 {
        font-size: 21px;
    }
    .fontSize30 {
        font-size: 22px;
    }

    .fontSize22 {
        font-size: 17px;
    }
    .padding-right238 {
        padding-right: 0px;
    }
    
}
